openapi: 3.2.0
info:
  title: MikMak Insights Shoppable Recipe Reports API
  description: '

    ## Introduction

    An API for querying reports and report-related data. A set of API credentials is tied to one account; each request

    to the API will return data specific to that account.'
  version: 1.0.0
servers:
- url: https://api.mikmak.ai
  description: Base URL declared by the provider in apis.yml (roadmap#122).
tags:
- name: Shoppable Recipe Reports
paths:
  /reporting/v1/shoppable_recipe_report_fields:
    post:
      tags:
      - Shoppable Recipe Reports
      summary: Retrieve dimensions and metrics
      description: This endpoint retrieves valid dimensions and metrics based on selected dimensions, metrics and filters.
      operationId: shoppable_recipe_report_fields_reporting_v1_shoppable_recipe_report_fields_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ShoppableRecipeReportFieldsRequestBody'
            examples:
              example:
                summary: Get Report Fields Success Example
                description: 'Retrieve a list of eligible dimensions and metrics to run a report. '
                value:
                  metrics:
                  - purchaseIntentClicks
                  dimensions:
                  - date
                  - partnerId
                  filters:
                  - recipeName
                  - recipeRetailer
                  currency: USD
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReportFieldsResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - authorization: []
      - x-api-key: []
  /reporting/v1/shoppable_recipe_report_filters:
    post:
      tags:
      - Shoppable Recipe Reports
      summary: Retrieve filters
      description: This endpoint retrieves filters and valid filter values based on selected date range, dimensions, metrics and filters.
      operationId: shoppable_recipe_report_filters_reporting_v1_shoppable_recipe_report_filters_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ShoppableRecipeReportFiltersRequestBody'
            examples:
              example:
                summary: Get Filters Example
                description: Retrieve a list of filters available for generating country-specific reports for January 2025, focusing on CTA View, Commerce Load, and Purchase Intent Click metrics. The returned filters are specifically limited to those related to Brand.com experiences, allowing for targeted and relevant report customization
                value:
                  startDate: '2025-01-01'
                  endDate: '2025-01-31'
                  metrics:
                  - ctaView
                  - commerceLoads
                  - purchaseIntentClicks
                  dimensions:
                  - date
                  - partnerId
                  filters:
                    partnerId:
                      includes:
                      - abc123
                  currency: USD
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReportFiltersResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - authorization: []
      - x-api-key: []
  /reporting/v1/shoppable_recipe_report:
    post:
      tags:
      - Shoppable Recipe Reports
      summary: Retrieve custom report
      description: This endpoint retrieves a custom report based on selected date range, dimensions, metrics and filters. The report is paginated and must be passed a count and offset. The maximum number of records that can be returned on one page is 5000. The report is sorted by the provided sortBy and sortDir parameters.
      operationId: shoppable_recipe_report_reporting_v1_shoppable_recipe_report_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ShoppableRecipeReportPaginatedRequestBody'
            examples:
              example:
                summary: Get Filters Example
                description: Runs a by country by date report for January 2025, focusing on CTA View, Commerce Loads and Purchase Intent Clicks metrics. The report is sorted by CTA View in descending order and paginated to return the first 5000 records. The report is filtered to only include data from the partnerId '123' and the recipeName 'Best Recipe Ever'.
                value:
                  startDate: '2025-01-01'
                  endDate: '2025-01-31'
                  metrics:
                  - ctaView
                  - commerceLoads
                  - purchaseIntentClicks
                  dimensions:
                  - date
                  - partnerId
                  - recipeName
                  - domain
                  - recipeUtmSource
                  filters:
                    partnerId:
                      includes:
                      - '123'
                    recipeName:
                      includes:
                      - Best Recipe Ever
                  currency: USD
                  sortBy: ctaView
                  sortDir: DESC
                  dateFreq: D
                  offset: 0
                  count: 5000
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReportPaginatedResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - authorization: []
      - x-api-key: []
  /reporting/v1/shoppable_recipe_report/export:
    post:
      tags:
      - Shoppable Recipe Reports
      summary: Export custom report
      description: This endpoint retrieves a custom report based on selected date range, dimensions, metrics and filters. The report is sorted by the provided sortBy and sortDir parameters.
      operationId: shoppable_recipe_export_reporting_v1_shoppable_recipe_report_export_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ShoppableRecipeReportRequestBody'
            examples:
              example:
                summary: Get Report Example
                description: Exports a report by date for January 2025, focusing on Commerce Loads and Purchase Intent Clicks metrics. The report is sorted by domain in ascending order and is filtered to only include data from the partnerId '123' and the recipeName 'Best Recipe Ever'.
                value:
                  startDate: '2025-01-01'
                  endDate: '2025-01-31'
                  metrics:
                  - commerceLoads
                  - purchaseIntentClicks
                  dimensions:
                  - date
                  - partnerId
                  - recipeName
                  - domain
                  - recipeUtmSource
                  filters:
                    partnerId:
                      includes:
                      - '123'
                    recipeName:
                      includes:
                      - Best Recipe Ever
                  sortBy: domain
                  sortDir: ASC
                  currency: USD
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExportResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - authorization: []
      - x-api-key: []
components:
  schemas:
    ShoppableRecipeReportPaginatedRequestBody:
      properties:
        dimensions:
          items:
            $ref: '#/components/schemas/Dimensions'
          type: array
          title: Dimensions
        metrics:
          items:
            $ref: '#/components/schemas/Metrics'
          type: array
          title: Metrics
        filters:
          additionalProperties:
            anyOf:
            - $ref: '#/components/schemas/IntFilters'
            - $ref: '#/components/schemas/StrFilters'
          propertyNames:
            $ref: '#/components/schemas/Dimensions'
          type: object
          title: Filters
        accountId:
          type: string
          title: Accountid
          description: If accountId is not provided, the accountId will be taken from the token.
        currency:
          type: string
          enum:
          - AED
          - AFN
          - ALL
          - AMD
          - ANG
          - AOA
          - ARS
          - AUD
          - AWG
          - AZN
          - BAM
          - BBD
          - BDT
          - BGN
          - BHD
          - BIF
          - BMD
          - BND
          - BOB
          - BOV
          - BRL
          - BSD
          - BTN
          - BWP
          - BYN
          - BZD
          - CAD
          - CDF
          - CHE
          - CHF
          - CHW
          - CLF
          - CLP
          - CNY
          - COP
          - COU
          - CRC
          - CUC
          - CUP
          - CVE
          - CZK
          - DJF
          - DKK
          - DOP
          - DZD
          - EGP
          - ERN
          - ETB
          - EUR
          - FJD
          - FKP
          - GBP
          - GEL
          - GHS
          - GIP
          - GMD
          - GNF
          - GTQ
          - GYD
          - HKD
          - HNL
          - HRK
          - HTG
          - HUF
          - IDR
          - ILS
          - INR
          - IQD
          - IRR
          - ISK
          - JMD
          - JOD
          - JPY
          - KES
          - KGS
          - KHR
          - KMF
          - KPW
          - KRW
          - KWD
          - KYD
          - KZT
          - LAK
          - LBP
          - LKR
          - LRD
          - LSL
          - LYD
          - MAD
          - MDL
          - MGA
          - MKD
          - MMK
          - MNT
          - MOP
          - MRU
          - MUR
          - MVR
          - MWK
          - MXN
          - MXV
          - MYR
          - MZN
          - NAD
          - NGN
          - NIO
          - NOK
          - NPR
          - NZD
          - OMR
          - PAB
          - PEN
          - PGK
          - PHP
          - PKR
          - PLN
          - PYG
          - QAR
          - RON
          - RSD
          - RUB
          - RWF
          - SAR
          - SBD
          - SCR
          - SDG
          - SEK
          - SGD
          - SHP
          - SLE
          - SLL
          - SOS
          - SRD
          - SSP
          - STN
          - SVC
          - SYP
          - SZL
          - THB
          - TJS
          - TMT
          - TND
          - TOP
          - TRY
          - TTD
          - TWD
          - TZS
          - UAH
          - UGX
          - USD
          - USN
          - UYI
          - UYU
          - UYW
          - UZS
          - VED
          - VES
          - VND
          - VUV
          - WST
          - XAF
          - XAG
          - XAU
          - XBA
          - XBB
          - XBC
          - XBD
          - XCD
          - XDR
          - XOF
          - XPD
          - XPF
          - XPT
          - XSU
          - XTS
          - XUA
          - XXX
          - YER
          - ZAR
          - ZMW
          - ZWL
          maxLength: 3
          minLength: 3
          title: Currency
          description: The Currency field is required in the request body to provide the monetary metrics in the adequate currency.
        startDate:
          type: string
          format: date
          title: Startdate
        endDate:
          type: string
          format: date
          title: Enddate
        subaccountIds:
          anyOf:
          - items:
              type: string
            type: array
          - type: 'null'
          title: Subaccountids
          default: []
        sortBy:
          type: string
          enum:
          - date
          - country
          - currency
          - productBrandName
          - experience
          - commerceType
          - productName
          - alternateProductName
          - modelName
          - retailer
          - utmSource
          - utmMedium
          - utmCampaign
          - utmTerm
          - utmContent
          - utmAdId
          - utmPlacement
          - utmBu
          - utmClicktype
          - utmVariant
          - utmAdvertiserId
          - utmPlacementId
          - utmFormat
          - utmCreativeid
          - utmConfig
          - utmId
          - utmMarketingTactic
          - utmSourcePlatform
          - utmCreativeFormat
          - standardSource
          - standardMedium
          - productCategoryName
          - productLine
          - productRange
          - productCustomCategory
          - productCustomSubcategory1
          - productCustomSubcategory2
          - productCustomSubcategory3
          - productCustomSubcategory4
          - subaccountId
          - ean
          - mpn
          - partnerId
          - recipeName
          - recipeRetailer
          - recipeUtmSource
          - recipeUtmMedium
          - recipeUtmCampaign
          - domain
          - pageUrl
          - domainUrl
          - shopperCity
          - shopperRegion
          - shopperCountry
          - shopperZipCode
          - brandEntity
          - isBundle
          - deviceType
          - purchaseIntentValue
          - averageClickPrice
          - purchaseIntentClicks
          - ctaView
          - rawSalesAccountAmount
          - rawSalesAmount
          - commerceLoads
          - purchaseIntentRate
          - ctaViewSessions
          - commerceLoadSessions
          - purchaseIntentClickSessions
          - purchaseIntentRateSession
          - transactions
          - skuSelected
          - successfulSearches
          - unsuccessfulSearches
          - onlinePurchaseIntentClicks
          - offlinePurchaseIntentClicks
          - avgPriceLocalCurrency
          - minPriceLocalCurrency
          - maxPriceLocalCurrency
          - medianPriceLocalCurrency
          - inStock
          - outOfStock
          - retailerOpportunities
          - missedRetailerOpportunities
          - retailerImpressions
          - retailerDisplayed
          - retailerInStock
          - retailerOutOfStock
          - retailerInStockRate
          - retailerDisplayRate
          - retailerCTR
          - transactionValue
          - commerceLoadedRate
          - shoppableCommerceLoadedRate
          - visitorConversionRate
          - shoppableTransactionConversionRate
          - shoppableTransactionValueConversionRate
          - minAuraRoas
          - maxAuraRoas
          - auraAdSpend
          - auraIncrementalContribution
          title: Sortby
        sortDir:
          $ref: '#/components/schemas/OrderDirection'
        dateFreq:
          $ref: '#/components/schemas/DateFreq'
          default: D
        offset:
          type: integer
          minimum: 0
          title: Offset
        count:
          type: integer
          maximum: 10000
          minimum: 1
          title: Count
      type: object
      required:
      - dimensions
      - metrics
      - filters
      - accountId
      - currency
      - startDate
      - endDate
      - sortBy
      - sortDir
      - offset
      - count
      title: ShoppableRecipeReportPaginatedRequestBody
    ColumnType:
      type: string
      enum:
      - count
      - date
      - str
      - percent
      - money
      - int
      - float
      - distinct
      title: ColumnType
      description: 'UI-facing column rendering hint for report cells.


        Members:

        - count: Integer count (rendered as a plain number).

        - date: Calendar date.

        - str: Free-form string.

        - percent: Percentage rate (rendered with % suffix).

        - money: Monetary value (rendered with the report''s currency).

        - int: Integer value (non-count, e.g., identifiers).

        - float: Floating-point number.

        - distinct: Distinct count / cardinality.'
    ReportFieldsResponse:
      properties:
        data:
          $ref: '#/components/schemas/ReportFields'
      type: object
      required:
      - data
      title: ReportFieldsResponse
      description: Model for holding all the report builder configurations
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          type: array
          title: Detail
      type: object
      title: HTTPValidationError
    ReportFiltersResponse:
      properties:
        filters:
          additionalProperties:
            $ref: '#/components/schemas/ListConfig'
          type: object
          title: Filters
      type: object
      required:
      - filters
      title: ReportFiltersResponse
    ExportResponse:
      properties:
        url:
          type: string
          title: Url
      type: object
      required:
      - url
      title: ExportResponse
    ReportPaginatedResponse:
      properties:
        total:
          anyOf:
          - type: integer
          - type: 'null'
          title: Total
        nextPage:
          type: boolean
          title: Nextpage
        columns:
          items:
            $ref: '#/components/schemas/Column'
          type: array
          title: Columns
        data:
          items:
            $ref: '#/components/schemas/Row'
          type: array
          title: Data
      type: object
      required:
      - nextPage
      - columns
      - data
      title: ReportPaginatedResponse
    OrderDirection:
      type: string
      enum:
      - ASC
      - DESC
      title: OrderDirection
      description: 'Sort direction applied to ``sort_by`` in custom reports.


        Members:

        - ASC: Ascending (smallest/earliest first).

        - DESC: Descending (largest/latest first).'
    Dimensions:
      type: string
      enum:
      - date
      - country
      - currency
      - productBrandName
      - experience
      - commerceType
      - productName
      - alternateProductName
      - modelName
      - retailer
      - utmSource
      - utmMedium
      - utmCampaign
      - utmTerm
      - utmContent
      - utmAdId
      - utmPlacement
      - utmBu
      - utmClicktype
      - utmVariant
      - utmAdvertiserId
      - utmPlacementId
      - utmFormat
      - utmCreativeid
      - utmConfig
      - utmId
      - utmMarketingTactic
      - utmSourcePlatform
      - utmCreativeFormat
      - standardSource
      - standardMedium
      - productCategoryName
      - productLine
      - productRange
      - productCustomCategory
      - productCustomSubcategory1
      - productCustomSubcategory2
      - productCustomSubcategory3
      - productCustomSubcategory4
      - subaccountId
      - ean
      - mpn
      - partnerId
      - recipeName
      - recipeRetailer
      - recipeUtmSource
      - recipeUtmMedium
      - recipeUtmCampaign
      - domain
      - pageUrl
      - domainUrl
      - shopperCity
      - shopperRegion
      - shopperCountry
      - shopperZipCode
      - brandEntity
      - isBundle
      - deviceType
      title: Dimensions
      description: 'Dimensions available in custom reports (groupable columns).


        Members:

        - date: Date associated with the metric.

        - country: Geographic country associated with the Commerce Experience. Filter with 2-character ISO 3166-1 alpha-2 codes (e.g. FR, US), not full names like France.

        - currency: Currency code used in the report.

        - productBrandName: Brand of the catalog product in the Commerce Experience.

        - experience: Name of the Commerce Experience.

        - commerceType: Type of MikMak Commerce Experience (Brand.com, Media, etc.); see ``CommerceType``.

        - productName: Name of the catalog product in the Commerce Experience.

        - retailer: Name of the online or offline retailer associated with a click or transaction.

        - utmSource: Value of the utm_source URL parameter.

        - utmMedium: Value of the utm_medium URL parameter.

        - utmCampaign: Value of the utm_campaign URL parameter.

        - utmTerm: Value of the utm_term URL parameter.

        - utmContent: Value of the utm_content URL parameter.

        - utmAdId: Value of the utm_adid URL parameter.

        - utmPlacement: Value of the utm_placement URL parameter.

        - utmBu: Value of the utm_bu (business unit) URL parameter.

        - utmClicktype: Value of the utm_clicktype URL parameter.

        - utmVariant: Value of the utm_variant URL parameter.

        - utmAdvertiserId: Value of the utm_advertiserid URL parameter.

        - utmPlacementId: Value of the utm_placementid URL parameter.

        - utmFormat: Value of the utm_format URL parameter.

        - utmCreativeid: Value of the utm_creativeid URL parameter.

        - utmConfig: Value of the utm_config URL parameter.

        - utmId: Value of the utm_id URL parameter.

        - utmMarketingTactic: Marketing tactic derived from the URL (awareness / consideration / conversion).

        - utmSourcePlatform: Value of the utm_source_platform URL parameter.

        - utmCreativeFormat: Value of the utm_creative_format URL parameter.

        - standardSource: Categorized version of utm_source mapped to a standardized traffic-source set.

        - standardMedium: Categorized version of utm_medium mapped to a standardized medium set.

        - productCategoryName: Category of the catalog product in the Commerce Experience.

        - productLine: Product line of the catalog product.

        - productRange: Product range of the catalog product.

        - productCustomCategory: Account-defined custom category of the catalog product.

        - productCustomSubcategory1: Account-defined custom subcategory (level 1).

        - productCustomSubcategory2: Account-defined custom subcategory (level 2).

        - productCustomSubcategory3: Account-defined custom subcategory (level 3).

        - productCustomSubcategory4: Account-defined custom subcategory (level 4).

        - subaccountId: MikMak subaccount (operator) that owns the Commerce Experience; PyObjectId-shaped.

        - ean: EAN product identifier.

        - partnerId: Name associated with a Recipe Partnership (shoppable recipes).

        - recipeName: Title of the shoppable recipe.

        - recipeRetailer: Retailer associated with a shoppable recipe click or transaction.

        - recipeUtmSource: utm_source for shoppable-recipe traffic.

        - recipeUtmMedium: utm_medium for shoppable-recipe traffic.

        - recipeUtmCampaign: utm_campaign for shoppable-recipe traffic.

        - domain: Website hosting the shoppable recipe.

        - pageUrl: Web page URL associated with the metric.

        - domainUrl: Web domain URL associated with the metric.

        - shopperCity: City, town or municipality of the shopper during the session.

        - shopperRegion: State/Province/Region of the shopper (country-dependent).

        - shopperCountry: Country of the shopper during the session. Filter with 2-character ISO 3166-1 alpha-2 codes (e.g. FR, US), not full names like France.

        - shopperZipCode: Local postal/ZIP code of the shopper''s location.

        - brandEntity: Reporting Brand (Aura-gated).

        - isBundle: Whether the experience is a bundle (Yes or No).

        - deviceType: The category of the visitor''s hardware (Desktop, Mobile, Tablet, or Others), detected via the user agent associated with the metric.'
    DateFreq:
      type: string
      enum:
      - D
      - W
      - M
      - Q
      - Y
      title: DateFreq
      description: 'Date bucket granularity for time-series reports.


        Members:

        - D: Daily (one row per calendar day).

        - W: Weekly (one row per ISO week, Monday-starting).

        - M: Monthly (one row per calendar month).

        - Q: Quarterly (one row per calendar quarter).

        - Y: Yearly (one row per calendar year).'
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          type: array
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
      type: object
      required:
      - loc
      - msg
      - type
      title: ValidationError
    ReportFields:
      properties:
        dimensions:
          anyOf:
          - $ref: '#/components/schemas/ListConfig'
          - type: 'null'
        metrics:
          anyOf:
          - $ref: '#/components/schemas/ListConfig'
          - type: 'null'
      type: object
      title: ReportFields
      description: Report builder configuration
    ListItem:
      properties:
        label:
          type: string
          title: Label
        code:
          type: string
          title: Code
        tooltip:
          anyOf:
          - type: string
          - type: 'null'
          title: Tooltip
        category:
          anyOf:
          - type: string
          - type: 'null'
          title: Category
        startDate:
          anyOf:
          - type: string
          - type: 'null'
          title: Startdate
      type: object
      required:
      - label
      - code
      title: ListItem
      description: Values for displaying item in a list
    ShoppableRecipeReportFiltersRequestBody:
      properties:
        dimensions:
          items:
            $ref: '#/components/schemas/Dimensions'
          type: array
          title: Dimensions
        metrics:
          items:
            $ref: '#/components/schemas/Metrics'
          type: array
          title: Metrics
        filters:
          additionalProperties:
            anyOf:
            - $ref: '#/components/schemas/IntFilters'
            - $ref: '#/components/schemas/StrFilters'
          propertyNames:
            $ref: '#/components/schemas/Dimensions'
          type: object
          title: Filters
        accountId:
          type: string
          title: Accountid
          description: If accountId is not provided, the accountId will be taken from the token.
        currency:
          type: string
          enum:
          - AED
          - AFN
          - ALL
          - AMD
          - ANG
          - AOA
          - ARS
          - AUD
          - AWG
          - AZN
          - BAM
          - BBD
          - BDT
          - BGN
          - BHD
          - BIF
          - BMD
          - BND
          - BOB
          - BOV
          - BRL
          - BSD
          - BTN
          - BWP
          - BYN
          - BZD
          - CAD
          - CDF
          - CHE
          - CHF
          - CHW
          - CLF
          - CLP
          - CNY
          - COP
          - COU
          - CRC
          - CUC
          - CUP
          - CVE
          - CZK
          - DJF
          - DKK
          - DOP
          - DZD
          - EGP
          - ERN
          - ETB
          - EUR
          - FJD
          - FKP
          - GBP
          - GEL
          - GHS
          - GIP
          - GMD
          - GNF
          - GTQ
          - GYD
          - HKD
          - HNL
          - HRK
          - HTG
          - HUF
          - IDR
          - ILS
          - INR
          - IQD
          - IRR
          - ISK
          - JMD
          - JOD
          - JPY
          - KES
          - KGS
          - KHR
          - KMF
          - KPW
          - KRW
          - KWD
          - KYD
          - KZT
          - LAK
          - LBP
          - LKR
          - LRD
          - LSL
          - LYD
          - MAD
          - MDL
          - MGA
          - MKD
          - MMK
          - MNT
          - MOP
          - MRU
          - MUR
          - MVR
          - MWK
          - MXN
          - MXV
          - MYR
          - MZN
          - NAD
          - NGN
          - NIO
          - NOK
          - NPR
          - NZD
          - OMR
          - PAB
          - PEN
          - PGK
          - PHP
          - PKR
          - PLN
          - PYG
          - QAR
          - RON
          - RSD
          - RUB
          - RWF
          - SAR
          - SBD
          - SCR
          - SDG
          - SEK
          - SGD
          - SHP
          - SLE
          - SLL
          - SOS
          - SRD
          - SSP
          - STN
          - SVC
          - SYP
          - SZL
          - THB
          - TJS
          - TMT
          - TND
          - TOP
          - TRY
          - TTD
          - TWD
          - TZS
          - UAH
          - UGX
          - USD
          - USN
          - UYI
          - UYU
          - UYW
          - UZS
          - VED
          - VES
          - VND
          - VUV
          - WST
          - XAF
          - XAG
          - XAU
          - XBA
          - XBB
          - XBC
          - XBD
          - XCD
          - XDR
          - XOF
          - XPD
          - XPF
          - XPT
          - XSU
          - XTS
          - XUA
          - XXX
          - YER
          - ZAR
          - ZMW
          - ZWL
          maxLength: 3
          minLength: 3
          title: Currency
          description: The Currency field is required in the request body to provide the monetary metrics in the adequate currency.
        startDate:
          type: string
          format: date
          title: Startdate
        endDate:
          type: string
          format: date
          title: Enddate
        subaccountIds:
          anyOf:
          - items:
              type: string
            type: array
          - type: 'null'
          title: Subaccountids
          default: []
      type: object
      required:
      - dimensions
      - metrics
      - filters
      - accountId
      - currency
      - startDate
      - endDate
      title: ShoppableRecipeReportFiltersRequestBody
    Column:
      properties:
        key:
          anyOf:
          - $ref: '#/components/schemas/Dimensions'
          - $ref: '#/components/schemas/Metrics'
          title: Key
        type:
          $ref: '#/components/schemas/ColumnType'
        displayName:
          type: string
          title: Displayname
          description: Human-readable column title. When the report date range starts before a metric or dimension availability date (see startDate on custom_report_fields), the API appends a parenthetical suffix with Unicode U+26A0, either 'Metric start date' or 'Dimension start date', and an ISO YYYY-MM-DD date.
        tooltip:
          anyOf:
          - type: string
          - type: 'null'
          title: Tooltip
      type: object
      required:
      - key
      - type
      - displayName
      title: Column
    StrFilters:
      additionalProperties: false
      properties:
        includes:
          description: Include rows where value is in this list (IN).
          items:
            type: string
          title: Includes
          type: array
        excludes:
          description: Exclude rows where value is in this list (NOT IN).
          items:
            type: string
          title: Excludes
          type: array
        contains:
          description: Include rows where value contains any of these strings (case-insensitive LIKE %...%). Combined with OR. Max 5 values.
          items:
            type: string
          maxItems: 5
          title: Contains
          type: array
        notContains:
          description: Exclude rows where value contains any of these strings (case-insensitive NOT LIKE %...%). Combined with AND. Max 5 values.
          items:
            type: string
          maxItems: 5
          title: Notcontains
          type: array
      title: StrFilters
      type: object
    Row:
      properties:
        date:
          type: string
          format: date
          title: Date
        country:
          anyOf:
          - type: string
          - type: 'null'
          title: Country
        currency:
          type: string
          title: Currency
        productBrandName:
          type: string
          title: Productbrandname
        experience:
          type: string
          title: Experience
        commerceType:
          type: string
          title: Commercetype
        productName:
          type: string
          title: Productname
        alternateProductName:
          type: string
          title: Alternateproductname
        modelName:
          type: string
          title: Modelname
        retailer:
          type: string
          title: Retailer
        utmSource:
          type: string
          title: Utmsource
        utmMedium:
          type: string
          title: Utmmedium
        utmCampaign:
          type: string
          title: Utmcampaign
        utmTerm:
          type: string
          title: Utmterm
        utmContent:
          type: string
          title: Utmcontent
        utmAdId:
          type: string
          title: Utmadid
        utmPlacement:
          type: string
          title: Utmplacement
        utmBu:
          type: string
          title: Utmbu
        utmClicktype:
          type: string
          title: Utmclicktype
        utmVariant:
          type: string
          title: Utmvariant
        utmAdvertiserId:
          type: string
          title: Utmadvertiserid
        utmPlacementId:
          type: string
          title: Utmplacementid
        utmFormat:
          type: string
          title: Utmformat
        utmCreativeid:
          type: string
          title: Utmcreativeid
        utmConfig:
          type: string
          title: Utmconfig
        utmId:
          type: string
          title: Utmid
        utmMarketingTactic:
          type: string
          title: Utmmarketingtactic
        utmSourcePlatform:
          type: string
          title: Utmsourceplatform
        utmCreativeFormat:
          type: string
          title: Utmcreativeformat
        standardSource:
          type: string
          title: Standardsource
        standardMedium:
          type: string
          title: Standardmedium
        productCategoryName:
          type: string
          title: Productcategoryname
        productLine:
          type: string
          title: Productline
        productRange:
          type: string
          title: Productrange
        productCustomCategory:
          type: string
          title: Productcustomcategory
        productCustomSubcategory1:
          type: string
          title: Productcustomsubcategory1
        productCustomSubcategory2:
          type: string
          title: Productcustomsubcategory2
        productCustomSubcategory3:
          type: string
          title: Productcustomsubcategory3
        productCustomSubcategory4:
          type: string
          title: Productcustomsubcategory4
        subaccountId:
          type: string
          title: Subaccountid
        ean:
          type: string
          title: Ean
        mpn:
          type: string
          title: Mpn
        partnerId:
          type: string
          title: Partnerid
        recipeName:
          type: string
          title: Recipename
        recipeRetailer:
          type: string
          title: Reciperetailer
        recipeUtmSource:
          type: string
          title: Recipeutmsource
        recipeUtmMedium:
          type: string
          title: Recipeutmmedium
        recipeUtmCampaign:
          type: string
          title: Recipeutmcampaign
        domain:
          type: string
          title: Domain
        pageUrl:
          type: string
          title: Pageurl
        domainUrl:
          type: string
          title: Domainurl
        shopperCity:
          type: string
          title: Shoppercity
        shopperRegion:
          type: string
          title: Shopperregion
        shopperCountry:
          type: string
          title: Shoppercountry
        shopperZipCode:
          type: string
          title: Shopperzipcode
        brandEntity:
          type: string
          title: Brandentity
        isBundle:
          type: string
          title: Isbundle
        deviceType:
          type: string
          title: Devicetype
        purchaseIntentValue:
          type: number
          title: Purchaseintentvalue
        averageClickPrice:
          anyOf:
          - type: number
          - type: 'null'
          title: Averageclickprice
        purchaseIntentClicks:
          type: integer
          title: Purchaseintentclicks
        ctaView:
          type: integer
          title: Ctaview
        rawSalesAccountAmount:
          type: number
          title: Rawsalesaccountamount
        rawSalesAmount:
          type: number
          title: Rawsalesamount
        commerceLoads:
          type: integer
          title: Commerceloads
        purchaseIntentRate:
          anyOf:
          - type: number
          - type: 'null'
          title: Purchaseintentrate
        ctaViewSessions:
          type: integer
          title: Ctaviewsessions
        commerceLoadSessions:
          type: integer
          title: Commerceloadsessions
        purchaseIntentClickSessions:
          type: integer
          title: Purchaseintentclicksessions
        purchaseIntentRateSession:
          anyOf:
          - type: number
          - type: 'null'
          title: Purchaseintentratesession
        transactions:
          type: integer
          title: Transactions
        skuSelected:
          type: integer
          title: Skuselected
        successfulSearches:
          type: integer
          title: Successfulsearches
        unsuccessfulSearches:
          type: integer
          title: Unsuccessfulsearches
        onlinePurchaseIntentClicks:
          type: integer
          title: Onlinepurchaseintentclicks
        offlinePurchaseIntentClicks:
          type: integer
          title: Offlinepurchaseintentclicks
        avgPriceLocalCurrency:
          anyOf:
          - type: number
          - type: 'null'
          title: Avgpricelocalcurrency
        minPriceLocalCurrency:
          anyOf:
          - type: number
          - type: 'null'
          title: Minpricelocalcurrency
        maxPriceLocalCurrency:
          anyOf:
          - type: number
          - type: 'null'
          title: Maxpricelocalcurrency
        medianPriceLocalCurrency:
          anyOf:
          - type: number
          - type: 'null'
          title: Medianpricelocalcurrency
        inStock:
          type: integer
          title: Instock
        outOfStock:
          type: integer
          title: Outofstock
        retailerOpportunities:
          type: integer
          title: Retaileropportunities
        missedRetailerOpportunities:
          type: integer
          title: Missedretaileropportunities
        retailerImpressions:
          type: integer
          title: Retailerimpressions
        retailerDisplayed:
          type: integer
          title: Retailerdisplayed
        retailerInStock:
          type: integer
          title: Retailerinstock
        retailerOutOfStock:
          type: integer
          title: Retaileroutofstock
        retailerInStockRate:
          anyOf:
          - type: number
          - type: 'null'
          title: Retailerinstockrate
        retailerDisplayRate:
          anyOf:
          - type: number
          - type: 'null'
          title: Retailerdisplayrate
        retailerCTR:
          anyOf:
          - type: number
          - type: 'null'
          title: Retailerctr
        transactionValue:
          anyOf:
          - type: number
          - type: 'null'
          title: Transactionvalue
        commerceLoadedRate:
          anyOf:
          - type: number
          - type: 'null'
          title: Commerceloadedrate
        shoppableCommerceLoadedRate:
          anyOf:
          - type: number
          - type: 'null'
          title: Shoppablecommerceloadedrate
        visitorConversionRate:
          anyOf:
          - type: number
          - type: 'null'
          title: Visitorconversionrate
        shoppableTransactionConversionRate:
          anyOf:
          - type: number
          - type: 'null'
          title: Shoppabletransactionconversionrate
        shoppableTransactionValueConversionRate:
          anyOf:
          - type: number
          - type: 'null'
          title: Shoppabletransactionvalueconversionrate
        minAuraRoas:
          anyOf:
          - type: number
          - type: 'null'
          title: Minauraroas
        maxAuraRoas:
          anyOf:
          - type: number
          - type: 'null'
          title: Maxauraroas
        auraAdSpend:
          anyOf:
          - type: number
          - type: 'null'
          title: Auraadspend
        auraIncrementalContribution:
          anyOf:
          - type: number
          - type: 'null'
          title: Auraincrementalcontribution
      type: object
      title: Row
    ListConfig:
      properties:
        apiFilterParam:
          type: string
          title: Apifilterparam
        displayName:
          type: string
          title: Displayname
        tooltip:
          anyOf:
          - type: string
          - type: 'null'
          title: Tooltip
        values:
          anyOf:
          - items:
              $ref: '#/components/schemas/ListItem'
            type: array
          - type: 'null'
          title: Values
      type: object
      required:
      - apiFilterParam
      - displayName
      title: ListConfig
      description: Menu item for providing a dropdown list of values with a display name
    Metrics:
      type: string
      enum:
      - purchaseIntentValue
      - averageClickPrice
      - purchaseIntentClicks
      - ctaView
      - rawSalesAccountAmount
      - rawSalesAmount
      - commerceLoads
      - purchaseIntentRate
      - ctaViewSessions
      - commerceLoadSessions
      - purchaseIntentClickSessions
      - purchaseIntentRateSession
      - transactions
      - skuSelected
      - successfulSearches
      - unsuccessfulSearches
      - onlinePurchaseIntentClicks
      - offlinePurchaseIntentClicks
      - avgPriceLocalCurrency
      - minPriceLocalCurrency
      - maxPriceLocalCurrency
      - medianPriceLocalCurrency
      - inStock
      - outOfStock
      - retailerOpportunities
      - missedRetailerOpportunities
      - retailerImpressions
      - retailerDisplayed
      - retailerInStock
      - retailerOutOfStock
      - retailerInStockRate
      - retailerDisplayRate
      - retailerCTR
      - transactionValue
      - commerceLoadedRate
      - shoppableCommerceLoadedRate
      - visitorConversionRate
      - shoppableTransactionConversionRate
      - shoppableTransactionValueConversionRate
      - minAuraRoas
      - maxAuraRoas
      - auraAdSpend
      - auraIncrementalContribution
      title: Metrics
      description: 'Metrics available in custom reports (aggregated numeric values).


        Members:

        - purchaseIntentValue: Total financial value of Purchase Intent Clicks (price x clicks), in the selected currency.

        - averageClickPrice: Average listed price of clicked products (Purchase Intent Value / Total Purchase Intent Clicks).

        - purchaseIntentClicks: Total number of clicks-through to a retailer from a MikMak Commerce Experience (online + offline).

        - ctaView: Times the MikMak button was present on a page (or immediately before an auto-loaded Experience).

        - rawSalesAccountAmount: Transaction value attributed to Purchase Intent Clicks, restricted to products associated with the account.

        - rawSalesAmount: Transaction value attributed to Purchase Intent Clicks across all products (including other brands'').

        - commerceLoads: Number of times a MikMak Commerce Experience was fully initialized.

        - purchaseIntentRate: Percentage of shoppers who opened an Experience and then clicked through to a retailer.

        - ctaViewSessions: Unique user sessions containing at least one CTA View.

        - commerceLoadSessions: Unique user sessions containing at least one Commerce Load.

        - purchaseIntentClickSessions: Unique user sessions containing at least one Purchase Intent Click.

        - purchaseIntentRateSession: Purchase Intent Click Sessions divided by Commerce Load Sessions.

        - transactions: Number of attributable, unique orders within the retailer-defined attribution window.

        - skuSelected: Number of times a product was selected within a Commerce Experience.

        - onlinePurchaseIntentClicks: Purchase Intent Clicks targeting online stores (e.g., retailer PDPs).

        - offlinePurchaseIntentClicks: Purchase Intent Clicks targeting physical stores (e.g., store cards).

        - avgPriceLocalCurrency: Average product price in the product''s local currency (historical pricing).

        - minPriceLocalCurrency: Minimum product price in the product''s local currency (historical pricing).

        - maxPriceLocalCurrency: Maximum product price in the product''s local currency (historical pricing).

        - medianPriceLocalCurrency: Median product price in the product''s local currency (historical pricing).

        - inStock: Count of in-stock observations for the product at the retailer (historical pricing).

        - outOfStock: Count of out-of-stock observations for the product at the retailer (historical pricing).

        - retailerOpportunities: Count of retailer-display opportunities in the window.

        - missedRetailerOpportunities: Opportunities where no retailer was actually displayed.

        - retailerImpressions: Count of times a retailer was an option to checkout for a recipe.

        - retailerDisplayed: Times at least one store of a retailer was visible in an Experience (logo on-screen).

        - retailerInStock: Times at least one store of a retailer had stock available as a click-through option.

        - retailerOutOfStock: Times an eligible retailer had only out-of-stock stores in the Experience.

        - retailerInStockRate: retailerInStock / (retailerInStock + retailerOutOfStock).

        - retailerDisplayRate: retailerDisplayed / (retailerInStock + retailerOutOfStock).

        - retailerCTR: purchaseIntentClicks / retailerDisplayed (retailer click-through rate).

        - transactionValue: Attributed transaction value (shoppable recipes), in the selected currency.

        - commerceLoadedRate: Commerce-load rate for custom reports (ratio).

        - shoppableCommerceLoadedRate: Percentage of CTA Views that resulted in a Commerce Load (shoppable).

        - visitorConversionRate: purchaseIntentClicks / ctaView.

        - shoppableTransactionConversionRate: transactions / purchaseIntentClicks (shoppable).

        - shoppableTransactionValueConversionRate: transactionValue / purchaseIntentValue (shoppable).'
    IntFilters:
      properties:
        includes:
          items:
            type: integer
          type: array
          title: Includes
      additionalProperties: false
      type: object
      required:
      - includes
      title: IntFilters
    ShoppableRecipeReportFieldsRequestBody:
      properties:
        dimensions:
          items:
            $ref: '#/components/schemas/Dimensions'
          type: array
          title: Dimensions
        metrics:
          items:
            $ref: '#/components/schemas/Metrics'
          type: array
          title: Metrics
        filters:
          items:
            $ref: '#/components/schemas/Dimensions'
          type: array
          title: Filters
          description: Filters are used to filter the data based on the selected dimensions. Only provide the filter labels and not the filter values.
        accountId:
          type: string
          title: Accountid
          description: If accountId is not provided, the accountId will be taken from the token.
        currency:
          type: string
          enum:
          - AED
          - AFN
          - ALL
          - AMD
          - ANG
          - AOA
          - ARS
          - AUD
          - AWG
          - AZN
          - BAM
          - BBD
          - BDT
          - BGN
          - BHD
          - BIF
          - BMD
          - BND
          - BOB
          - BOV
          - BRL
          - BSD
          - BTN
          - BWP
          - BYN
          - BZD
          - CAD
          - CDF
          - CHE
          - CHF
          - CHW
          - CLF
          - CLP
          - CNY
          - COP
          - COU
          - CRC
          - CUC
          - CUP
          - CVE
          - CZK
          - DJF
          - DKK
          - DOP
          - DZD
          - EGP
          - ERN
          - ETB
          - EUR
          - FJD
          - FKP
          - GBP
          - GEL
          - GHS
          - GIP
          - GMD
          - GNF
          - GTQ
          - GYD
          - HKD
          - HNL
          - HRK
          - HTG
          - HUF
          - IDR
          - ILS
          - INR
          - IQD
          - IRR
          - ISK
          - JMD
          - JOD
          - JPY
          - KES
          - KGS
          - KHR
          - KMF
          - KPW
          - KRW
          - KWD
          - KYD
          - KZT
          - LAK
          - LBP
          - LKR
          - LRD
          - LSL
          - LYD
          - MAD
          - MDL
          - MGA
          - MKD
          - MMK
          - MNT
          - MOP
          - MRU
          - MUR
          - MVR
          - MWK
          - MXN
          - MXV
          - MYR
          - MZN
          - NAD
          - NGN
          - NIO
          - NOK
          - NPR
          - NZD
          - OMR
          - PAB
          - PEN
          - PGK
          - PHP
          - PKR
          - PLN
          - PYG
          - QAR
          - RON
          - RSD
          - RUB
          - RWF
          - SAR
          - SBD
          - SCR
          - SDG
          - SEK
          - SGD
          - SHP
          - SLE
          - SLL
          - SOS
          - SRD
          - SSP
          - STN
          - SVC
          - SYP
          - SZL
          - THB
          - TJS
          - TMT
          - TND
          - TOP
          - TRY
          - TTD
          - TWD
          - TZS
          - UAH
          - UGX
          - USD
          - USN
          - UYI
          - UYU
          - UYW
          - UZS
          - VED
          - VES
          - VND
          - VUV
          - WST
          - XAF
          - XAG
          - XAU
          - XBA
          - XBB
          - XBC
          - XBD
          - XCD
          - XDR
          - XOF
          - XPD
          - XPF
          - XPT
          - XSU
          - XTS
          - XUA
          - XXX
          - YER
          - ZAR
          - ZMW
          - ZWL
          maxLength: 3
          minLength: 3
          title: Currency
          description: The Currency field is required in the request body to provide the monetary metrics in the adequate currency.
      type: object
      required:
      - dimensions
      - metrics
      - filters
      - accountId
      - currency
      title: ShoppableRecipeReportFieldsRequestBody
    ShoppableRecipeReportRequestBody:
      properties:
        dimensions:
          items:
            $ref: '#/components/schemas/Dimensions'
          type: array
          title: Dimensions
        metrics:
          items:
            $ref: '#/components/schemas/Metrics'
          type: array
          title: Metrics
        filters:
          additionalProperties:
            anyOf:
            - $ref: '#/components/schemas/IntFilters'
            - $ref: '#/components/schemas/StrFilters'
          propertyNames:
            $ref: '#/components/schemas/Dimensions'
          type: object
          title: Filters
        accountId:
          type: string
          title: Accountid
          description: If accountId is not provided, the accountId will be taken from the token.
        currency:
          type: string
          enum:
          - AED
          - AFN
          - ALL
          - AMD
          - ANG
          - AOA
          - ARS
          - AUD
          - AWG
          - AZN
          - BAM
          - BBD
          - BDT
          - BGN
          - BHD
          - BIF
          - BMD
          - BND
          - BOB
          - BOV
          - BRL
          - BSD
          - BTN
          - BWP
          - BYN
          - BZD
          - CAD
          - CDF
          - CHE
          - CHF
          - CHW
          - CLF
          - CLP
          - CNY
          - COP
          - COU
          - CRC
          - CUC
          - CUP
          - CVE
          - CZK
          - DJF
          - DKK
          - DOP
          - DZD
          - EGP
          - ERN
          - ETB
          - EUR
          - FJD
          - FKP
          - GBP
          - GEL
          - GHS
          - GIP
          - GMD
          - GNF
          - GTQ
          - GYD
          - HKD
          - HNL
          - HRK
          - HTG
          - HUF
          - IDR
          - ILS
          - INR
          - IQD
          - IRR
          - ISK
          - JMD
          - JOD
          - JPY
          - KES
          - KGS
          - KHR
          - KMF
          - KPW
          - KRW
          - KWD
          - KYD
          - KZT
          - LAK
          - LBP
          - LKR
          - LRD
          - LSL
          - LYD
          - MAD
          - MDL
          - MGA
          - MKD
          - MMK
          - MNT
          - MOP
          - MRU
          - MUR
          - MVR
          - MWK
          - MXN
          - MXV
          - MYR
          - MZN
          - NAD
          - NGN
          - NIO
          - NOK
          - NPR
          - NZD
          - OMR
          - PAB
          - PEN
          - PGK
          - PHP
          - PKR
          - PLN
          - PYG
          - QAR
          - RON
          - RSD
          - RUB
          - RWF
          - SAR
          - SBD
          - SCR
          - SDG
          - SEK
          - SGD
          - SHP
          - SLE
          - SLL
          - SOS
          - SRD
          - SSP
          - STN
          - SVC
          - SYP
          - SZL
          - THB
          - TJS
          - TMT
          - TND
          - TOP
          - TRY
          - TTD
          - TWD
          - TZS
          - UAH
          - UGX
          - USD
          - USN
          - UYI
          - UYU
          - UYW
          - UZS
          - VED
          - VES
          - VND
          - VUV
          - WST
          - XAF
          - XAG
          - XAU
          - XBA
          - XBB
          - XBC
          - XBD
          - XCD
          - XDR
          - XOF
          - XPD
          - XPF
          - XPT
          - XSU
          - XTS
          - XUA
          - XXX
          - YER
          - ZAR
          - ZMW
          - ZWL
          maxLength: 3
          minLength: 3
          title: Currency
          description: The Currency field is required in the request body to provide the monetary metrics in the adequate currency.
        startDate:
          type: string
          format: date
          title: Startdate
        endDate:
          type: string
          format: date
          title: Enddate
        subaccountIds:
          anyOf:
          - items:
              type: string
            type: array
          - type: 'null'
          title: Subaccountids
          default: []
        sortBy:
          type: string
          enum:
          - date
          - country
          - currency
          - productBrandName
          - experience
          - commerceType
          - productName
          - alternateProductName
          - modelName
          - retailer
          - utmSource
          - utmMedium
          - utmCampaign
          - utmTerm
          - utmContent
          - utmAdId
          - utmPlacement
          - utmBu
          - utmClicktype
          - utmVariant
          - utmAdvertiserId
          - utmPlacementId
          - utmFormat
          - utmCreativeid
          - utmConfig
          - utmId
          - utmMarketingTactic
          - utmSourcePlatform
          - utmCreativeFormat
          - standardSource
          - standardMedium
          - productCategoryName
          - productLine
          - productRange
          - productCustomCategory
          - productCustomSubcategory1
          - productCustomSubcategory2
          - productCustomSubcategory3
          - productCustomSubcategory4
          - subaccountId
          - ean
          - mpn
          - partnerId
          - recipeName
          - recipeRetailer
          - recipeUtmSource
          - recipeUtmMedium
          - recipeUtmCampaign
          - domain
          - pageUrl
          - domainUrl
          - shopperCity
          - shopperRegion
          - shopperCountry
          - shopperZipCode
          - brandEntity
          - isBundle
          - deviceType
          - purchaseIntentValue
          - averageClickPrice
          - purchaseIntentClicks
          - ctaView
          - rawSalesAccountAmount
          - rawSalesAmount
          - commerceLoads
          - purchaseIntentRate
          - ctaViewSessions
          - commerceLoadSessions
          - purchaseIntentClickSessions
          - purchaseIntentRateSession
          - transactions
          - skuSelected
          - successfulSearches
          - unsuccessfulSearches
          - onlinePurchaseIntentClicks
          - offlinePurchaseIntentClicks
          - avgPriceLocalCurrency
          - minPriceLocalCurrency
          - maxPriceLocalCurrency
          - medianPriceLocalCurrency
          - inStock
          - outOfStock
          - retailerOpportunities
          - missedRetailerOpportunities
          - retailerImpressions
          - retailerDisplayed
          - retailerInStock
          - retailerOutOfStock
          - retailerInStockRate
          - retailerDisplayRate
          - retailerCTR
          - transactionValue
          - commerceLoadedRate
          - shoppableCommerceLoadedRate
          - visitorConversionRate
          - shoppableTransactionConversionRate
          - shoppableTransactionValueConversionRate
          - minAuraRoas
          - maxAuraRoas
          - auraAdSpend
          - auraIncrementalContribution
          title: Sortby
        sortDir:
          $ref: '#/components/schemas/OrderDirection'
        dateFreq:
          $ref: '#/components/schemas/DateFreq'
          default: D
      type: object
      required:
      - dimensions
      - metrics
      - filters
      - accountId
      - currency
      - startDate
      - endDate
      - sortBy
      - sortDir
      title: ShoppableRecipeReportRequestBody
  securitySchemes:
    authorization:
      type: http
      scheme: bearer
      description: 'Enter your API key as a normal token. This will send a header that looks like  "Authorization: Bearer {your_api_key}"'
    x-api-key:
      type: apiKey
      in: header
      name: x-api-key
      description: 'Enter your API key as a normal token. This will send a header that looks like  "x-api-key: {your_api_key}"'
